---
import BaseLayout from "../layouts/BaseLayout.astro";
import gitLogo from "../assets/gitLogoTransparent.png";
import linkedInLogo from "../assets/linkedInLogo.png";
import { Image } from "astro:assets";
import { slide } from "astro:transitions";

const pageTitle = "$HOME Page of Joar | Developer and Water Enjoyer";
const pageDesc = `Welcome to the page! I am a software engineer, developer, map game enjoyer, water enjoyer and occasional stizparty-toastmaster.`;
const htmlTitle = "Greetings, I'm Joar!";
---

<html lang="en">
  <!--htmlTitle={htmlTitle}-->
  <!--htmlDescription={pageDesc}-->
  <BaseLayout pageDescription={pageDesc} pageTitle={pageTitle}>
    <div class="min-h-[90vh] w-full flex flex-row justify-center items-center">
      <div class="flex flex-col sm:text-left text-center sm:pr-32 mx-4">
        <a
          transition:animate={slide({ duration: "0.25s" })}
          class="sm:text-8xl text-5xl p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600"
        >
          joar
        </a>
        <a
          transition:animate={slide({ duration: "0.5s" })}
          class="sm:text-8xl text-5xl sm:ml-16 p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600"
        >
          a
        </a>
        <a
          transition:animate={slide({ duration: "0.75s" })}
          class="sm:text-8xl text-5xl sm:ml-18 p-1 font-mono text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-red-600"
        >
          developer
        </a>
        <div>
          <span class="text-xl">
            Software Engineer and cast-iron enthusiast</span
          >
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-warp sm:flex-row h-1/2 mt-6">
      <section
        class="bg-nord4 dark:bg-nord1 flex-1 mx-3 min-h-full my-2 grow-1 justify-center"
      >
        <div
          class="border rounded-md border-nord11 h-3/4 p-6 text-center min-h-full transition-all hover:shadow-lg hover:shadow-nord11 hover:-translate-x-1 hover:-translate-y-1 duration-300"
        >
          <h2 class="text-xl font-bold mb-3">About Me</h2>
          <p class="text-black dark:text-slate-300">
            I'm Joar, software engineer and developer. When I'm not studying
            computer engineering at university, I either dabble in various
            software technologies and experiment with new projects or might even
            be getting paid to program (job).
          </p>
          <div class="mt-4">
            <a
              href="about/"
              class="bg-slate-500 text-white py-2 px-3 rounded-md transition-all hover:bg-gradient-to-t from-nord11 to-nord10 duration-300 ease-in-out"
            >
              More about me
            </a>
          </div>
        </div>
      </section>
      <section
        class="bg-nord4 dark:bg-nord1 flex-1 mx-3 min-h-full my-2 grow-1 justify-center"
      >
        <div
          class="border rounded-md border-nord12 h-3/4 p-6 text-center min-h-full transition-all hover:shadow-lg hover:shadow-nord12 hover:-translate-x-1 hover:-translate-y-1 duration-300"
        >
          <h2 class="text-xl font-bold mb-3">My Skills & Projects</h2>
          <p class="text-black dark:text-slate-300">
            PHP&Laravel enjoyer. (Not legally or officially) Certified Vue-tiful
            Person. General Web Development Enjoyer. Occasional AI Dabbler.
            Penguin Power. <span class="font-bold underline">Learning</span> to
            design UI that does not act as sandpaper on the eyes and soul.
          </p>
          <div class="mt-4">
            <a
              href="https://www.github.com/JoarSabel"
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord12 to-nord10 transition duration-300 ease-in-out"
            >
              View my projects
            </a>
          </div>
        </div>
      </section>
      <section
        class="bg-nord4 dark:bg-nord1 flex-1 mx-3 min-h-full my-2 grow-1 justify-center"
      >
        <div
          class="border rounded-md border-nord14 h-3/4 p-6 text-center min-h-full transition-all hover:shadow-lg hover:shadow-nord14 hover:-translate-x-1 hover:-translate-y-1 duration-300"
        >
          <h2 class="text-xl font-bold mb-3">My Passion</h2>
          <p class="text-black dark:text-slate-300">
            I've always been fascinated by problem-solving and the potential of
            technology. I love solving every day problems using technology, and
            also non-every-day problems, so just problems in general I guess.
          </p>
          <div class="mt-4">
            <a
              href="blog/"
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord14 to-nord10 transition duration-300 ease-in-out"
            >
              My lastest thinks
            </a>
          </div>
        </div>
      </section>
    </div>

    <!--Section Separator-->
    <div class="flex flex-col flex-warp sm:flex-row sm:mx-32 h-full">
      <section
        class="bg-nord4 dark:bg-nord1 flex-1 mx-3 min-h-full my-2 grow-1 justify-center"
      >
        <div
          class="border rounded-md border-nord15 p-6 text-center min-h-full transition-all hover:shadow-lg hover:shadow-nord15 hover:-translate-x-1 hover:-translate-y-1 duration-300"
        >
          <h2 class="text-xl font-bold mb-3">Where Can You Find Me?</h2>
          <p class="text-black dark:text-slate-300">
            I am not very big on social media, but I do have a LinkedIn and a
            GitHub account.
          </p>
          <div class="flex flex-row mt-4 justify-center items-center">
            <a href="https://www.github.com/JoarSabel" target="_blank">
              <div class="flex flex-row">
                <Image
                  class="object-contain w-28 h-28"
                  src={gitLogo}
                  alt="gitLogo"
                />
                <!-- <p class="hover:underline top-1/2">@JoarSabel</p> -->
              </div>
            </a>
            <a
              href="https://www.linkedin.com/in/joar-sabel-2233a21a0/"
              target="_blank"
            >
              <div class="flex flex-row">
                <Image
                  class="object-contain w-20 h-20 mt-4"
                  src={linkedInLogo}
                  alt="gitLogo"
                />
                <!-- <p class="hover:underline mt-3">@JoarSabel</p> -->
              </div>
            </a>
          </div>
        </div>
      </section>
      <section
        class="bg-nord4 dark:bg-nord1 flex-1 mx-3 min-h-full my-2 grow-1 justify-center"
      >
        <div
          class="border rounded-md border-nord10 p-6 text-center min-h-full transition-all hover:shadow-lg hover:shadow-nord10 hover:-translate-x-1 hover:-translate-y-1 duration-300"
        >
          <h2 class="text-xl font-bold mb-3">Other Contact Info</h2>
          <p class="text-black dark:text-slate-300">
            This section is mostly here for the sake of uniformity and to fill
            the space. But now that you're reading it, here you can find more
            information about me and get in touch with me.
          </p>
          <div class="mt-4">
            <a
              href="/about#contact"
              class="bg-slate-500 text-white py-2 px-3 rounded-md hover:bg-gradient-to-t from-nord3 to-nord10 transition duration-300 ease-in-out"
            >
              Connect with me
            </a>
          </div>
        </div>
      </section>
    </div>
  </BaseLayout>
</html>
