---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription }: Props = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={pageDescription || "This is a default description"} />
  <meta name="og:title" content={pageTitle}/>
  <meta name="og:description" content={pageDescription}/>
  <meta name="og:type" content="Website"/>
  <meta name="og:url" content="TBI"/>
  <meta name="og:img" content="TBI"/>
  <title>{pageTitle}</title>
</head>
<div class="flex flex-col min-h-screen">
  <Navigation />
  <main class="flex-grow flex flex-row h-full overflow-auto md:pt-[10vh] shadow-lg shadow-black">
    <div class="w-[25vh] bg-gradient-to-r from-nord2 to-nord1"></div>
    <div class="w-full h-full content-center justify-center text-center pt-6">
      <h1 class="text-5xl text-center">{pageTitle}</h1>
      {pageDescription && <p> {pageDescription} </p>}
      <slot />
    </div>
    <div class="w-[25vh] bg-gradient-to-l from-nord2 to-nord1"></div>
  </main>
  <Footer/>
</div>
